<!doctype html>
<html lang="en">

<head>
    <title>json2Dataclass</title>
</head>

<body>
<input type="button" id="generate-btn" value="Generate"/>
</body>
<script type=text/javascript> const button = document.getElementById('generate-btn');
console.log('Button init ;)');
button.addEventListener('click', async _ => {
    try {
        console.log('Button click');
        const response = await fetch('/api/to_dataclass', {
            method: 'post',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                "json_to_convert": [
                    {
                        "test_int": 10,
                        "test_str": "aaabbb"
                    },
                    {
                        "test_int": 10
                    }
                ]
            })
        })
        console.log('Completed!', response);
    } catch (err) {
        console.error(`Error: ${err}`);
    }
})
</script>
</html>